@use "./variables" as var;

/* #region base */

.w-auto{width: auto;}
.w-25{width: 25%;}
.w-50{width: 50%;}
.w-75{width: 75%;}
.w-100{width: 100%;}

//NUEVO
.w-10{width: 10%;}
.w-30{width: 30%;}
.w-60{width: 60%;}
.w-70{width: 70%;}
.w-80{width: 80%;}
.w-90{width: 90%;}

.h-auto{height: auto;}
.h-25{height: 25%;}
.h-50{height: 50%;}
.h-75{height: 75%;}
.h-100{height: 100%;}

//la "y" es para el eje vertical
//la "x" es para el eje horizontal
.m-auto{margin: auto;}
.m-1rem{margin: 1rem;}
.my-1rem{margin: 1rem 0;}
.mx-1rem{margin: 0 1rem;}

//NUEVO
.my-0_5rem{ margin: 0.5rem 0;}

.p-1rem{padding: 1rem;}
.py-1rem{padding: 1rem 0;}
.px-1rem{padding: 0 1rem;}

.g-0_5rem{gap: 0.5rem;}
.g-1rem{gap: 1rem;}

.d-flex{display: flex;}
.d-none{display: none;}

//NUEVO
.d-block{display: block;}

.fd-row{flex-direction: row;}
.fd-col{flex-direction: column;}

//NUEVO
.fd-col-rev {flex-direction: column-reverse;}

.jc-center{justify-content: center;}
.jc-between{justify-content: space-between;}
.jc-end{justify-content: flex-end;}
.jc-start{justify-content: flex-start;}

.ai-center{align-items: center;}
.ai-start{align-items: flex-start;}
.ai-end{align-items: flex-end;}

/* #endregion */

/* #region tablet */
@media screen and (min-width:768px) {
.md-w-auto{width: auto;}
.md-w-25{width: 25%;}
.md-w-50{width: 50%;}
.md-w-75{width: 75%;}
.md-w-100{width: 100%;}

//NUEVO
.md-w-10{width: 10%;}
.md-w-30{width: 30%;}
.md-w-60{width: 60%;}
.md-w-70{width: 70%;}
.md-w-80{width: 80%;}
.md-w-90{width: 90%;}

.md-h-auto{height: auto;}
.md-h-25{height: 25%;}
.md-h-50{height: 50%;}
.md-h-75{height: 75%;}
.md-h-100{height: 100%;}

//la "y" es para el eje vertical
//la "x" es para el eje horizontal
.md-m-auto{margin: auto;}
.md-m-1rem{margin: 1rem;}
.md-my-1rem{margin: 1rem 0;}
.md-mx-1rem{margin: 0 1rem;}

//NUEVO
.md-my-0_5rem{ margin: 0.5rem 0;}

.md-p-1rem{padding: 1rem;}
.md-py-1rem{padding: 1rem 0;}
.md-px-1rem{padding: 0 1rem;}

.md-g-0_5rem{gap: 0.5rem;}
.md-g-1rem{gap: 1rem;}

.md-d-flex{display: flex;}
.md-d-none{display: none;}

//NUEVO
.md-d-block{display: block;}

.md-fd-row{flex-direction: row;}
.md-fd-col{flex-direction: column;}

//NUEVO
.md-fd-col-rev {flex-direction: column-reverse;}

.md-jc-center{justify-content: center;}
.md-jc-between{justify-content: space-between;}
.md-jc-end{justify-content: flex-end;}
.md-jc-start{justify-content: flex-start;}

.md-ai-center{align-items: center;}
.md-ai-start{align-items: flex-start;}
.md-ai-end{align-items: flex-end;}
}

/* #endregion */

/* #region desktop */
@media screen and (min-width:1024px) {
.lg-w-auto{width: auto;}
.lg-w-25{width: 25%;}
.lg-w-50{width: 50%;}
.lg-w-75{width: 75%;}
.lg-w-100{width: 100%;}

//NUEVO
.lg-w-10{width: 10%;}
.lg-w-30{width: 30%;}
.lg-w-60{width: 60%;}
.lg-w-70{width: 70%;}
.lg-w-80{width: 80%;}
.lg-w-90{width: 90%;}

.lg-h-auto{height: auto;}
.lg-h-25{height: 25%;}
.lg-h-50{height: 50%;}
.lg-h-75{height: 75%;}
.lg-h-100{height: 100%;}

//la "y" es para el eje vertical
//la "x" es para el eje horizontal
.lg-m-auto{margin: auto;}
.lg-m-1rem{margin: 1rem;}
.lg-my-1rem{margin: 1rem 0;}
.lg-mx-1rem{margin: 0 1rem;}

//NUEVO
.lg-my-0_5rem{ margin: 0.5rem 0;}

.lg-p-1rem{padding: 1rem;}
.lg-py-1rem{padding: 1rem 0;}
.lg-px-1rem{padding: 0 1rem;}

.lg-g-0_5rem{gap: 0.5rem;}
.lg-g-1rem{gap: 1rem;}

.lg-d-flex{display: flex;}
.lg-d-none{display: none;}

//NUEVO
.lg-d-block{display: block;}

.lg-fd-row{flex-direction: row;}
.lg-fd-col{flex-direction: column;}

//NUEVO
.lg-fd-col-rev {flex-direction: column-reverse;}

.lg-jc-center{justify-content: center;}
.lg-jc-between{justify-content: space-between;}
.lg-jc-end{justify-content: flex-end;}
.lg-jc-start{justify-content: flex-start;}

.lg-ai-center{align-items: center;}
.lg-ai-start{align-items: flex-start;}
.lg-ai-end{align-items: flex-end;}
}

/* #endregion */