// Colores

$color-primary: null !default;
$color-secondary: null !default;
$color-accent: null !default;

$color-bg-main: null !default;
$color-bg-alt: null !default;

$color-text-main: null !default;
$color-text-muted: null !default;

$titulos:rgb(3, 250, 110);
$main:rgb(32, 32, 32);
$bd-rb:rgb(52, 52, 52);
$bd-lt:rgb(72, 72, 72);
$footer:rgb(42, 42, 42);
$section:rgb(62, 62, 62);
$selected:rgb(82, 82, 82);
$shadow: rgb(122,122,122);
$derechos: rgb(142,142,142);
$main-txt: 'Monkey Island SCUMM', sans-serif;
$gral-txt: 'Monkey Island SCUMM', sans-serif;
$bd-pf: rgb(0, 0, 0);

// $titulos:rgb(3, 250, 110);
// $colorFondoPrincipal:rgb(32, 32, 32);
// $bordeDerechoOInferior:rgb(52, 52, 52);
// $bordeIzquierdoOSuperior:rgb(72, 72, 72);
// $fondoFooter:rgb(42, 42, 42);
// $colorFondoSeccion:rgb(62, 62, 62);
// $colorFondoSeleccionado:rgb(82, 82, 82);
// $sombrasLetrasOSubrayado: rgb(122,122,122);
// $derechos: rgb(142,142,142);
// $textoEnElPrincipal: 'Monkey Island SCUMM', sans-serif;
// $textoGeneral: 'Monkey Island SCUMM', sans-serif;
// $bordeLetrasPerfil: rgb(0, 0, 0);
// $negro: black;
// $blanco: white;